* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  /* border: 4px solid green; */
  display: flex;
  justify-content: center;
}

.subContainer {
  width: 40%;
  height: 80%;
  margin-top: 20px;
  background-color: black;
  /* border: 2px solid red; */
}

h3 {
  color: #fff;
  padding-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
}

.formInput {
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  border-style: none;
  outline: none;
}

.calenderIconInput{
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  border-style: none;
  outline: none;
}

.calenderIcon{
  display: flex;
}

 i {
  margin-top: 15px;
  color: grey;
  position: absolute;
  margin-left: 29%;
}

.checkBox{
    display: flex;
}

label {
  color: rgb(158, 157, 157);
  margin-left: 20px;
  font-size: 17px;
}

.term {
  height: 25px;
  width: 25px;
}

a:link{
    color: rgb(158, 157, 157);
    
}
.submitButton{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 150px;  */
}


.button1{
    width: 120px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    color: white;
}

